@import 'variables.scss';

.footer {
  display: flex;
  justify-content: center;
  height: 380px;
  background-color: $black;
  font-size: 12px;
  color: $white;

  & > div {
    display: flex;
    flex-direction: column;
    padding: 50px 0;

    & > div {
      display: flex;
      flex-direction: row;
      margin-bottom: 30px;

      &:nth-child(1) { //로고
        align-items: center;

        & > div {
          display: flex;
          height: 44px;

          & > a {
            margin-left: 30px;
            &:nth-child(1) {
              margin-left: 60px;
            }
          }
        }
      } //로고 끝
      &:nth-child(3) {
        display: flex;
        flex: 1;

        & > .wrapper {
          display: flex;
          flex-direction: column; 
          margin-right: 130px;

          & > .items {
            display: flex;
            flex-direction: row;
          }

          &:nth-child(1) {

            & > .items {
              align-items: center;
              margin-bottom: 20px;

              & > span {
                width: 50px;
                margin-right: 30px;
              }
            }
          }

          &:nth-child(2) {

            & > .items {
              margin-bottom: 20px;

              & > span {
                width: 80px;
                margin-right: 70px;
              }
            }
          }

          &:nth-child(3) {
            flex-direction: row;
            margin-right: 0;

            & > .items {
              margin-bottom: 5px;

              & > span {
                width: 85px;
                margin-right: 70px;
              }
              & > p {
                width: 85px;

                &:nth-child(1){
                  margin-right: 20px;
                }
              }
            }
          }
        }
      }
    }
  }
}