@import './variables';

.label {
  width: fit-content;
  padding: 13px 112px 12px;
  border-radius: 34px;
  background-color: $primary-color;
  font-family: 'Noto Sans KR';
  font-size: 28px;
  letter-spacing: 0.5px;
  color: #ffffff;
}