.slider {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  & > div {
    width: 60%;
    overflow: hidden;

    & > div {
      width: 100%;
      display: flex;
    }
  }

  & > button {
    all: unset;
    border: 1px solid coral;
    padding: 0.5em 2em;
    color: coral;
    border-radius: 10px;

    &:hover {
      transition: all 0.3s ease-in-out;
      background-color: coral;
      color: #fff;
    }
  }
  
}